<footer class="border-white/20  border-b bg-accent-500">
  <div class="mx-auto border-white/20  border-x max-w-7xl">
    <div class="mx-auto p-8 items-start justify-between w-full">
      <div class="text-white text-center items-center mx-auto">
      <p class="uppercase font-display text-2xl">AXISEOS<span class="text-red-500 font-normal">.</span>
        <p class="mx-auto mt-3 text-sm">
          Drop me a Dm <a
            class="underline"
            href="https://x.com/talhaverse">Talhaverse</a
          >.
        </p>
      </div>
    </div>
    <div class="mx-auto border-white/20  border-t flex flex-col p-8">
      <p class="text-white text-center text-sm font-display">
       Follow us on <a href="https://www.instagram.com/axiseos/">
          Instagram &nbsp; &rarr;</a
        >
      </p>
    </div>
  </div>
</footer>
